*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.login-box{
    display: flex;
    border: solid black;
    height: 500px;
    width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img{
    margin-bottom: 50px;
}

p{
    width: 70%;
}

.input-area{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input{
    margin-bottom: 30px;
    height: 30px;
}

a{
    margin-bottom: 10px;
}

.btn{
    text-decoration: none;
    margin-top: 50px;
    border: solid black;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px 20px;
    background-color: rgb(82, 158, 229);
    color: black;
}
